<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>SidebearingsEQ.py</string>
			<key>preferredName</key>
			<string>SidebearingsEQ</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Franz Heidl</string>
	<key>developerURL</key>
	<string>http://www.github.com/franzheidl</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>SidebearingsEQ</string>
	<key>requiresVersionMajor</key>
	<string>1</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1332159930.1572299</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
